!DOCTYPE html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office")
head
    meta(charset="utf-8") 
    meta(name="viewport" content="width=device-width")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="x-apple-disable-message-reformatting")
    title Social Cowork
    link(href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet")

body(width="100%" style="margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #222222;")
	center(style="width: 100%; background-color: #f1f1f1;")
    div(style="display: none; font-size: 1px;max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;")
      &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
    div(style="max-width: 600px; margin: 0 auto;" class="email-container")
      table(align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;")
      	tr
          td(valign="top" class="bg_white" style="padding: 1em 2.5em;")
          	table(role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%")
          		tr
          			td(class="logo" style="text-align: center;")
			            h1 
                            a(href="#") Social CoWork
	
	      tr
          td(valign="middle" class="hero bg_white" style="background-image: url(images/bg_1.jpg); background-size: cover; height: 400px;")
          	div(class="overlay")
            table
            	tr
            		td
            			div(class="text" style="padding: 0 4em; text-align: center;")
            				h2 Gracias por confiar en nosotros
            				p Con el alquiler de los espacios, aportas al crecimiento de organizaciones sociales en el país
            				p 
                             a(href="#" class="btn btn-primary") Continuar
            
	      tr
	        td(class="bg_white email-section")
	        	div(class="heading-section" style="text-align: center; padding: 0 30px;")
	          	h2 Espacios disponibles
	          	
	        	table(role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%")
	        		tr
	              td(valign="top" width="50%" style="padding-top: 20px; padding-right: 10px;")
	                table(role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%")
	                  tr
	                    td
	                      img(src="images/work-1.jpg" alt="" style="width: 100%; max-width: 600px; height: auto; margin: auto; display: block;")
	                    /td
	                  /tr
	                  tr
	                    td class="text-services" style="text-align: left;"
	                    	p class="meta"span09/10/2019/span/p
	                    	h3Salas de reunión/h3
	                     	pFar far away, behind the word mountains, far from the countries/p
	                     	pa href="#" class="btn btn-primary"Reservar/a/p
	                    /td
	                  /tr
	                /table
	              /td
	              td valign="top" width="50%" style="padding-top: 20px; padding-left: 10px;"
	                table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
	                  tr
	                    td
	                      img src="images/work-2.jpg" alt="" style="width: 100%; max-width: 600px; height: auto; margin: auto; display: block;"
	                    /td
	                  /tr
	                  tr
	                    td class="text-services" style="text-align: left;"
	                    	p class="meta"span09/10/19/span /p
	                    	h3Espacios individuales/h3
	                      pFar far away, behind the word mountains, far from the countries/p
	                      pa href="#" class="btn btn-primary"Reservar/a/p
	                    /td
	                  /tr
	                /table
	              /td
              /tr
              tr
	              td valign="top" width="50%" style="padding-top: 20px; padding-right: 10px;"
	                table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
	                  tr
	                    td
	                      img src="images/work-3.jpg" alt="" style="width: 100%; max-width: 600px; height: auto; margin: auto; display: block;"
	                    /td
	                  /tr
	                  tr
	                    td class="text-services" style="text-align: left;"
	                    	p class="meta"span09/10/19/span /p
	                    	h3Oficinas/h3
	                     	pFar far away, behind the word mountains, far from the countries/p
	                     	pa href="#" class="btn btn-primary"Reservar/a/p
	                    /td
	                  /tr
	                /table
	              /td
	              td valign="top" width="50%" style="padding-top: 20px; padding-left: 10px;"
	                table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
	                  tr
	                    td
	                      img src="images/work-4.jpg" alt="" style="width: 100%; max-width: 600px; height: auto; margin: auto; display: block;"
	                    /td
	                  /tr
	                  tr
	                    td class="text-services" style="text-align: left;"
	                    	p class="meta"span09/10/19/span /p
	                    	h3Oficinas individuales/h3
	                      pFar far away, behind the word mountains, far from the countries/p
	                      pa href="#" class="btn btn-primary"Reservar/a/p
	                    /td
	                  /tr
	                /table
	              /td
              /tr
              
	              
          	/table
          /td
        /tr!-- end: tr --
      !-- 1 Column Text + Button : END --
      /table
      table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;"
      	tr
          td valign="middle" class="bg_black footer email-section"
            table
            	tr
                td valign="top" width="33.333%" style="padding-top: 20px;"
                  table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
                    tr
                      td style="text-align: left; padding-right: 10px;"
                      	h3 class="heading"Acerca de nosotros/h3
                      	pSomos una plataforma virtual dedicada a ofertar oficinas y lugares de trabajo, con tu aporte estamos fortaleciendo a organizaciones socieles/p
                      /td
                    /tr
                  /table
                /td
                td valign="top" width="33.333%" style="padding-top: 20px;"
                  table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
                    tr
                      td style="text-align: left; padding-left: 5px; padding-right: 5px;"
                      	h3 class="heading"Información de contacto/h3
                      	ul
					                lispan class="text"Medellin, Colombia/span/li
					                lispan class="text" 392 3929 210/span/a/li
					              /ul
                      /td
                    /tr
                  /table
                /td
                td valign="top" width="33.333%" style="padding-top: 20px;"
                  table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
                    tr
                      td style="text-align: left; padding-left: 10px;"
                      	h3 class="heading"Más información/h3
                      	ul
					                lia href="#"Home/a/li
					                lia href="#"About/a/li
					                lia href="#"Services/a/li
					                lia href="#"Work/a/li
					              /ul
                      /td
                    /tr
                  /table
                /td
              /tr
            /table
          /td
        /tr!-- end: tr --
        tr
        	td valign="middle" class="bg_black footer email-section"
        		table
            	tr
                td valign="top" width="33.333%"
                  table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
                    tr
                      td style="text-align: left; padding-right: 10px;"
                      	p&copy; 2019 Social CoWork. All Rights Reserved/p
                      /td
                    /tr
                  /table
                /td
                td valign="top" width="33.333%"
                  table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
                    tr
                      td style="text-align: right; padding-left: 5px; padding-right: 5px;"
                      	
                      /td
                    /tr
                  /table
                /td
              /tr
            /table
        	/td
        /tr
      /table

    /div
  /center
/body
/html