
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  margin: 0px;
  padding: 0px;
}
body  {
  
  background-color: #f5f5f5;
}
d-none{
  display:none;
}